.lever {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin: 4 4 4 4;
    font-size: 100px;
}

.page {
    background-color: #ffccfc;
}

.counter {
    background-color: #e1defa
}

.leverGame {
    /* TODO */
}
